In [74]:

# 1. 나이 (age): 나이 (년)
# 2. 성별 (sex): 성별
# 3. 체질량 지수 (bmi): 체질량 지수
# 4. 평균 혈압 (bp): 평균 혈압
# 5. 총 혈청 콜레스테롤 (s1): TC, 총 혈청 콜레스테롤
# 6. 저밀도 리포닛 (s2): LDL, 저밀도 리포닛
# 7. 고밀도 리포닛 (s3): HDL, 고밀도 리포닛
# 8. 총 콜레스테롤 / HDL 비율 (s4): TCH, 총 콜레스테롤 / HDL
# 9. 혈청 트리글리세라이드 (s5): LTG, 혈청 트리글리세라이드
# 10. 혈당 수치 (s6): GLU, 혈당 수치
from sklearn.datasets import load_diabetes
import pandas as pd
import numpy as np 
from scipy import stats



diabetes = load_diabetes()
df=pd.DataFrame(diabetes.data, columns=diabetes["feature_names"])

In [75]:
# Y 결괏값에 가장 영향을 미치는 요소는 bmi , s5
df.corr()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
age,1.000000,0.173737,0.185085,0.335428,0.260061,0.219243,-0.075181,0.203841,0.270774,0.301731
sex,0.173737,1.000000,0.088161,0.241010,0.035277,0.142637,-0.379090,0.332115,0.149916,0.208133
bmi,0.185085,0.088161,1.000000,0.395411,0.249777,0.261170,-0.366811,0.413807,0.446157,0.388680
bp,0.335428,0.241010,0.395411,1.000000,0.242464,0.185548,-0.178762,0.257650,0.393480,0.390430
s1,0.260061,0.035277,0.249777,0.242464,1.000000,0.896663,0.051519,0.542207,0.515503,0.325717
s2,0.219243,0.142637,0.261170,0.185548,0.896663,1.000000,-0.196455,0.659817,0.318357,0.290600
s3,-0.075181,-0.379090,-0.366811,-0.178762,0.051519,-0.196455,1.000000,-0.738493,-0.398577,-0.273697
s4,0.203841,0.332115,0.413807,0.257650,0.542207,0.659817,-0.738493,1.000000,0.617859,0.417212
s5,0.270774,0.149916,0.446157,0.393480,0.515503,0.318357,-0.398577,0.617859,1.000000,0.464669
s6,0.301731,0.208133,0.388680,0.390430,0.325717,0.290600,-0.273697,0.417212,0.464669,1.000000

In [82]:
feature = df[["bmi","s5"]]
target = pd.Series(diabetes.target)
pd.concat(feature, target)

TypeError: concat() takes 1 positional argument but 2 were given

In [77]:
z = np.abs(stats.zscore(feature)) # 이상치의 경우, 값을 제거 

index,_=np.where(z>2.5)
feature = feature[(z < 2.5).all(axis=1)]
feature
target=target.drop(index)